.imageAnimate {
    animation: spin 0.5s linear 0s 1 none;
    border-radius: 15rem;
    /* transform: rotate(360deg); */
    /* position: absolute; */

    border: 4px solid white;
    /* top:-10rem; */
    align-items: center;
    justify-content: center;


}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        width: 0%;
        height: 0%;
        border: none;
    }

    100% {
        transform: rotate(360deg);
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 700px) {
    .imageAnimate {
        width: 10rem;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
            width: 0rem;
            height: 0rem;
            border: none;
        }

        100% {
            transform: rotate(360deg);
            width: 10rem;
            height: 10rem;
        }
    }
}